@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #f05b56;
  --bg-color-elements: rgba(255, 255, 255, 0.1);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main-bg-color);
  height: 100vh;
  font-family: "Roboto", sans-serif;
  transition: background-color 1s ease-in-out;
}

a {
  text-decoration: none;
}

p,
a {
  color: white;
}

#pomodoro {
  grid-area: pomodoro;
}

#short {
  grid-area: short;
}

#long {
  grid-area: long;
}

#timer {
  grid-area: timer;
}

#timer,
#short,
#long,
#pomodoro,
#btn {
  justify-self: center;
  align-self: center;
}

#btn {
  grid-area: boton;
}

#settings,
#container {
  background-color: var(--bg-color-elements);
  border-radius: 10px;
}

#settings {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings:hover {
  filter: brightness(95%);
  cursor: pointer;
}
#settings p {
  margin-left: 0.5rem;
  margin-top: 2px;
}

#settings i {
  color: white;
}
#container {
  width: 500px;
  height: 250px;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "pomodoro short long" "timer timer timer" ". boton .";
}

#timer {
  font-size: 50px;
}

#btn {
  border: none;
  border-radius: 5px;
  color: var(--main-bg-color);
  font-weight: bold;
  font-size: larger;
  background-color: white;
  width: 120px;
  height: 40px;
  transition: color 1s ease-in-out;
}

#btn:hover {
  cursor: pointer;
  filter: brightness(95%);
}

.set.active {
  background-color: rgba(0, 0, 0, 0.15);
  width: 100px;
  height: 30px;
  border-radius: 8px;
}

.set {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set:hover {
  cursor: pointer;
}

#modal {
  display: none;
}

#modal.active {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#modal p {
  color: black;
}

#modal #modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#modal #close {
  font-size: 25px;
}

#modal #close:hover {
  cursor: pointer;
}

#modal #modal-time {
  display: flex;
  justify-content: space-between;
}

#modal .setTimer input,
.setTimer {
  width: 100px;
}

#modal #modal-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modal #modal-volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

#modal #modal-volume input {
  width: 150px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1b1e2c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#modal-button {
  display: flex;
  justify-content: flex-end;
}

#modal-button #boton-m {
  color: white;
  border: none;
  background-color: #1b1e2c;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}

#modal-button #boton-m:hover {
  cursor: pointer;
  filter: brightness(120%);
}

@media screen and (max-width: 500px) {
  #container,
  #about,
  #modal.active {
    width: 340px;
  }

  #about {
    text-align: center;
  }
}
